.sidebar-toggle {
    margin-right: 1.25rem;
    text-decoration: none;
    color: nb-theme(text-hint-color);
    nb-icon {
        font-size: 1.75rem;
    }
}

.logo {
    padding: 0 1.25rem;
    font-size: 1.45rem;
    border-left: 1px solid nb-theme(divider-color);
    border-right: 1px solid nb-theme(divider-color);
    white-space: nowrap;
    text-decoration: none;
}
