<nb-layout>

  <nb-layout-header fixed>
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="/">
      My Admin
    </a>

    <div style="margin-left: auto">
      <nb-actions size="small">
        <nb-action class="control-item">
          <nb-search type="rotate-layout"></nb-search>
        </nb-action>
        <nb-action class="control-item" icon="email-outline"></nb-action>
        <nb-action class="control-item" icon="bell-outline"></nb-action>
        <nb-action class="user-action">
          <nb-user
            [name]="userName"
          >
          </nb-user>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    Sidebar Content
  </nb-sidebar>

  <nb-layout-column>
    Page Content
    <button nbButton outline status="primary">Hello World</button>
    <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
    <button mat-raised-button color="primary">Basic</button>
  </nb-layout-column>

  <nb-layout-footer fixed>
  &copy; 2021
  </nb-layout-footer>

</nb-layout>
